main {
    flex: 1;
    height: calc(100vh - 40vh);
}

body {
    display: flex;
}

aside {
    width: 20vw
}

.media {
    display: flex;
    align-items: flex-start;
}

.media-body {
    flex: 1
}

.media-object {
    order: 1
}
